body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#originalCanvas {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  width: 400px;
  height: 300px;
}

#rotatedCanvas {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  width: 400px;
  height: 300px;
}

